<div class="row">
    <div ng-controller='ControleFluxoController'>
        <div class="col-md-4">
            <h3>Jobs</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="job in jobs|itemsPerPage:5" pagination-id="jobsid">
                        <td>{{job.cof_dsc_job}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" pagination-id="jobsid" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
        <div class="col-md-8">
            <h3>Transformações</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="transformacao in transformacoes|itemsPerPage:5" pagination-id="transformacaoid">
                        <td>{{transformacao.cof_dsc_transformacao}}</td>
                        <td>{{transformacao.cof_tipo_carga}}</td>
                        <td>{{transformacao.cof_flg_ativo}}</td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="transformacaoid">
            </dir-pagination-controls>
        </div>
    </div>
</div>