* {
    font-family: Verdana, Geneva, sans-serif;
    color: #141823;
    font-size: 16px;
}
body {
    padding-top: 90px;
    padding-bottom: 0px;
}
body, header {
    min-width: 385px;
    background-color: #e9eaed;
    background-image: url('../img/bg.png');
    background-repeat: repeat-x;
    background-position: top left;
}
header {
    color: #000;
    font-size: 36px;
    padding: 15px 15px 15px 35px;
    min-height: 60px !important;
    font-family: inherit;
    margin-bottom: 0px !important;
    font-weight: bold;
    min-width: 385px;
}

header img {
    float: right;
    clear: both;
    display: block;
    margin-top: -10px; 
}

.caixaCabecalho{
    float:right;
    display: block;
    margin: 0 2% 0px 2%;
    background: transparent;
    border-style: solid;
    border-left-width: 7px;
    border-top-width: 0px;
    border-right-width: 7px;
    border-bottom-width: 2px;
    border-color: #002240;
    border-radius: 6px;
    min-width: 139px;
    height: 71px;
    font-size: 28px;
    text-align: center;
}

.descricaoCabecalho{
    font-size: 12px;
    background-color: #002240;
    color: #FFFFFF;
    padding: 5px;
    display: block;
    font-weight: normal;
}

.container {
    width: 100%;
}

.navbar-form .form-control{
    min-width: 135px;
    margin: 0 10px;
}
.page {
    display:none;
    z-index: 1;
    position: absolute;
    min-width: 385px;
}

.page.active {
    display:block;
    z-index: 2;
}

.barra {
    padding: 10px;
    background: #fff;
    font-size: 35px;
    min-width: 385px;
}

.barra span {
    font-size: 28px;
    float: left;
    display: block;
    margin: 0 5px;
}

.barra img {
    float: left;
    display: block;
    margin: -5px 10px 0 10px;
    cursor: pointer;
}
.barra a{
    float: right;
    margin: 5px 10px;
    display: block;
}

.box-branco-container {
    text-align: center;
}
.box-branco {
    display: block;
    min-height: 339px;
    margin: 10px 0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 5px 5px 5px #7E7D7D;
}

.box-branco svg {
    width: 100%;
}
.box-branco img {
    width: 100%;
    padding: 10px;
}

.container .box-indicador .row {
    margin: 0;
}

.container .box-indicador div.indicador {
    display: block;
    min-height: 242px;
    margin: 10px 0 0 0;
    border-radius: 6px;
    background: #FFF !important;
    box-shadow: 1px 1px 8px #fff !important;
    color: #000 !important;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.container .box-indicador .titulo {
    text-align: center;
    color: #000 !important;
    font-size: 19px;
    line-height: 33px;
    padding: 3px;
    margin-bottom: 5px;
    min-height: 25px;
    border-radius: 6px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.container .box-indicador .titulo a {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    color:#fff;
}
.container .box-indicador .titulo a:hover {
    color:#fff;
    font-weight: bold;
}
.container .box-indicador .titulo a, .container .box-indicador .direita a{
    text-decoration: none;
}

.container .box-indicador .titulo{
    background: #337ab7 !important;
}

.container .box-indicador .vermelho .titulo{
    background-color: #E43229;
}

.container .box-indicador .amarelo .titulo {
    background-color: #EFAF0A;
}

.container .box-indicador .azul .titulo{
    background-color: #3576C4;
}

.container .box-indicador .referencia {

    padding: 0px 4px;
    margin: 4px 2px 0px !important;
    border-radius: 12px;
    text-align: center;
    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 2px solid;
    border-left: 7px solid;
    line-height: 41px;
}

.quantidade {
    font-size: 40px;
    float: right;
    border: none !important;
    text-align: right !important;
}

.descricaoCaixa {
    font-size: 16px !important;
    float: left;
    border: none !important;
    line-height: 41px !important;
}

.container .box-indicador .w50{
    width: 46%;
    margin: 2% 2% 0 2% !important;
    float: left;
}

.w100{
    min-height: 43px;
}

.container .box-indicador .valores div {
    clear: both;
    display: block;
    width: 100%;
    float: left;
    color: #141823;
}
.container .box-indicador .valores span {
    display: block;
    float: left;
    min-width: 80px;
    text-align: right;
    margin: 0 5px 0 0;
    line-height: 56px;
    color: #141823;
}
.container .box-indicador .valores span.valor {
    text-align: left;

    font-weight: bold;
    margin: 0;
    color: #141823;
}

.container .box-indicador .esquerda .verde{

    border-color: #17683C;


}

.container .box-indicador .esquerda .vermelho{

    border-color: #961E18;
}

.container .box-indicador .esquerda .azul{

    border-color: #375793;
}

.container .box-indicador .esquerda .amarelo{

    border-color: #FBDE2D;
}

.container .box-indicador .esquerda .laranja{

    border-color: #f38633;
}

.container .box-indicador .esquerda .preto{
    border-color: #141823;
}

.container .box-indicador .esquerda .grande {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.container .box-indicador .row {
    margin: 0;
}


.container .box-indicador .esquerda, .container .box-indicador .direita{
    padding: 0 5px;
    margin-bottom: 10px;
}

.container .box-indicador .esquerda{
    text-align: left;
}

.container .box-indicador .direita{
    text-align: center;
}
.container .box-indicador .direita img{
    min-width: 80%;
    height: auto;
    max-width: 90%;
}
.container .box-indicador .totais span{
    display: block;
    float: left;
    margin: 0 2% 0px 2%;
    background: transparent;
    border-style: solid;
    border-left-width: 7px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-color: #337ab7;
    border-radius: 6px;
    width: 46%;
    font-size: 28px;
    //text-align: center;

}

div.info {
    text-align: left;
    padding: 8px;
    background: #fff;
    border: 1px solid #B4B4B4;
    margin: 10px;
    -webkit-border-radius: 8px;
}

.box-branco div.info{
    border:none;
}

.titulo-unidade {
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

.modal table.dados th {
    text-align: center;
}

.modal table.dados img {
    max-width: 22px;
}

table, table th, table td {
    border-bottom: 1px solid #dedede;
}
table.dados td {
    padding: 3px 0;
}
table a {
    color: #009DDF;
    text-decoration: none;
}
div.info h3 {
    font-weight: bold;
    color: #009DDF;
    margin: 5px !important;
    text-align: center;
    font-size: 16px;
}
div.info span {
    padding-bottom: 5px;
    display: block;
}

g {
    stroke:#ffffff;
    stroke-width:2; 
    cursor: pointer;
}

.vermelho{    
    fill: #DC3912;
}
.verde{
    fill: #109618;
}
.amarelo{
    fill: #FF9900;
}
.disabled, .padrao{
    fill: #666666;
}

.letraMapa, .letraMapa tspan{
    font-size:62px;
    font-style:normal;
    font-weight:bold;
    fill:#ffffff;
    fill-opacity:1;
    stroke:none;
    font-family:verdana;
    display: block;
    clear: both;
    cursor: pointer;
}

.letraMapaCapital, .letraMapaCapital tspan {
    font-size:20px;
    font-style:normal;
    font-weight:bold;
    fill:#ffffff;
    fill-opacity:1;
    stroke:none;
    font-family:verdana;
    display: block;
    clear: both;
    cursor: pointer;
}

.margin0 {
    margin: 0px !important;
}
div.meta {
    background-color: #3576C4;
}
div.realizado {
    background-color: #f79537;
}
div.meta, div.realizado {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 2px 0 #797A7D;
    box-shadow: 3px 3px 2px 0 #797A7D;
    padding-top: 15px;
    margin-top: 17px; 
    margin-right: -10px;
}
div.meta span, div.realizado span{
    color: #ffffff;
    font-size: 30px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 11px 0;
}

#unidade-dados div.meta, #unidade-dados div.realizado {
    padding-top: 8px;
    margin: 10px 0 !important;
}

#unidade-dados div.meta span, #unidade-dados div.realizado span{

}

#estado-dados, #estado-fortaleza, #estado-interior{
    text-align: center;
}

.titulo{    
    font-size: 24px;
}
.close{
    opacity: 0.6;
}

.close span{
    font-size: 28px;
}

.modal-lg {
    width: 1400px !important;
}

@media (max-width: 405px) {
    .container .box-indicador .valores span{
        display: block;
        float: left;
        min-width: 100%;
        text-align: center;
        margin: 0;
        line-height: 31px;
    }
    .container .box-indicador .valores span.valor{
        font-size: 26px;
        font-weight: bold;
        margin: 0 0 4px 0;
        text-align: center;
    }
    header {
        padding: 50px 0 0 0;
        text-align: center;
    }

    header img {
        float: none;
        clear: both;
        display: block;
        margin-top: -108px;
        position: absolute;
        right: 50%;
        margin-right: -111px;
    }
}
@media (max-width: 678px) {
    body{
        padding-top: 120px !important;
    }
    .navbar-fixed-top {
        background-image: none;
    }
    header {
        padding: 50px 0 0 0;
        text-align: center;
        font-size: 34px;
    }
}
@media (max-width: 1200px) {
    .barra span {
        font-size: 20px;
    }
    .barra img {
        width: 52px;
        margin: -5px 0 0 0;
    }
}

@media (min-width: 768px) and (max-width: 794px) {
    .container .box-indicador .valores span{
        display: block;
        float: left;
        min-width: 100%;
        text-align: center;
        margin: 0;
        line-height: 31px;
    }
    .container .box-indicador .valores span.valor{
        font-size: 26px;
        font-weight: bold;
        margin: 0 0 4px 0;
        text-align: center;
    }
}
@media (max-width: 767px) {
    header {
        padding: 46px 0 0 0;
        text-align: center;
        line-height: 32px;
        font-size: 28px;
    }

    header img {
        float: none;
        margin-top: -45px;
        position: absolute;
        right: 50%;
        margin-right: -80px;
        width: 160px;
    }
    div.meta, div.realizado {
        margin-right: 0;
    }
    .container .box-indicador .direita img {
        width: 75%;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    body{
        padding-top: 105px !important;
    }
    .navbar-fixed-top {
        background-image: none;
    }
    header {
        padding: 50px 0 0 0;
        text-align: center;
        font-size: 34px;
    }
    header img {
        float: none;
        clear: both;
        display: block;
        margin-top: -54px;
        position: absolute;
        right: 50%;
        margin-right: -111px;
    }
    .container .box-indicador .direita img {
        width: 75%;
    }
}
@media (min-width: 768px) and (max-width: 821px){
    body{
        padding-top: 150px !important;
    }
    div.meta span, div.realizado span {
        font-size: 18px;
    }
    div.meta, div.realizado {
        font-size: 16px;
    }
}
@media (min-width: 800px) and (max-width: 1040px)  {
    div.meta span, div.realizado span {
        font-size: 20px;
    }
    div.meta, div.realizado {
        font-size: 18px;
    }
}
@media (min-width: 1200px) and (max-width: 1570px) {
    .container .box-indicador .valores span{
        display: block;
        float: left;
        min-width: 100%;
        text-align: center;
        margin: 0;
        line-height: 31px;
    }
    .container .box-indicador .valores span.valor{
        font-size: 26px;
        font-weight: bold;
        margin: 0 0 4px 0;
        text-align: center;
    }
    div.meta span, div.realizado span {
        font-size: 20px;
    }
    div.meta, div.realizado {
        font-size: 18px;
    }
}
@media (min-width: 1571px) {
    .container .box-indicador .referencia{
        margin: 4px 2px 20px;
    }
}
@media (max-height: 895px) and (min-height: 800px)  {
    body {
        padding-top: 80px;
    }
    header {
        padding: 15px 15px 5px 35px;
        min-height: 50px !important;
    }
    .container .box-indicador div.indicador {
        min-height: 230px;
    }
    .container .box-indicador .referencia {
        margin: 4px 2px 15px;
    }
    .container .box-indicador .valores span {
        font-size: 17px;
        min-width: 78px;
        margin-right: 5px;
        line-height: 48px;
    }

    .container .box-indicador .valores span.valor {
        font-size: 20px;
    }
    .container .box-indicador .totais span {

    }
}
@media (min-height: 960px) {
    body {
        padding-top: 100px;
    }
    header {
        padding: 25px 15px 15px 35px;
    }
    header img {
        margin-right: 60px;
    }
    .container .box-indicador .ind-11423 .titulo, 
    .container .box-indicador .ind-25169 .titulo, 
    .container .box-indicador .ind-15628 .titulo {
        line-height: 60px;
    }
    .container .box-indicador div.indicador {
        min-height: 270px;
    }
    .container .box-indicador .titulo {
        font-size: 25px;
        line-height: 32px;
        min-height: 40px;
        margin-bottom: 15px;
    }
    .container .box-indicador .titulo a{
        font-size: 25px;
        line-height: 32px;
    }
    .container .box-indicador .referencia {
        font-size: 26px;
    }
    .container .box-indicador .valores span {
        font-size: 18px;
        min-width: 92px;
        margin-right: 5px;
        line-height: 54px;
    }
    .container .box-indicador .valores span.valor {
        font-size: 24px;
    }
    .container .box-indicador .totais span {
        font-size: 26px;
    }

}
